*.o
varstored
xcp-ng-build-env/
tests/keys/
varserviced
tests/test
tests/test-nosan
test.log
valgrind-out.txt
tests/*.db
tests/test_logfile.txt
*.db
test_logfile.txt
libs/kissdb
fuzz-address
fuzz-memory
fuzz-overflow
